.cadastro{
    /*class= "btn btn-link w-100 mt-2" */
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 20px;
    
}