<footer class="ford-footer bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-start">
    <div class="row text-center text-md-start">

      <!-- Logo -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <img src="/Header-footer/logo-ford-256.png" alt="Ford Logo" class="mb-3 footer-logo">
        <p>
        </p>
      </div>

      <!-- Links -->
      <div class="links col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4">Links</h5>
        <a routerLink="/home">Inicio</a>
        <br>
        <a routerLink="/dashboard">Modelos</a>
        <br>
        <a routerLink="/contato">Contato</a>
      </div>

      <!-- Contato -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4">Contato</h5>
        <p><i class="bi bi-geo-alt-fill me-2"></i>Av. Ford, 123 - São Paulo, SP</p>
        <p><i class="bi bi-envelope-fill me-2"></i>fordconcessionaria.com</p>
        <p><i class="bi bi-telephone-fill me-2"></i>(11) 4002-8922</p>
      </div>

      <!-- Redes Sociais -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4">Siga-nos</h5>
        <a href = "https://www.facebook.com/FordBrasil/" class=" facebook text-white me-3"><i class="bi bi-facebook"></i> <img src="Header-footer/facebook.png" alt="Ford-facebook" > </a>
        <a href="https://www.instagram.com/fordbrasil/" class="instagram text-white me-3"><i class="bi bi-instagram"></i> <img src="Header-footer/instagram.png" alt="Ford-instagram"> </a>
        <a href="https://x.com/ford" class="twitter text-white me-3"><i class="bi bi-twitter-x"></i> <img src="Header-footer/twitter.png"> </a>
        <a href="https://www.youtube.com/fordbrasil" class="youtube text-white me-3"><i class="bi bi-youtube"></i> <img src="Header-footer/youtube.png"> </a>
      </div>

    </div>

    <hr class="text-white mt-4" />

    <div class="text-center">
      <p class="mb-0">&copy; 2025 Ford Store. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
