<button class="menu-toggle btn hamburger-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <i class="fas fa-bars"></i>
    <svg width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
  </button>
  

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <img class="ford-logo" src="Header-footer/logo-ford-256.png" alt="">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    <div class="offcanvas-body">
      <button class="btn btn-primary w-100 mb-3" (click)="goToHome()">Home</button>

      <button class="btn btn-primary w-100 mb-3" (click)="goToDashboard()"> Dashboard</button>
	  
      <button class="btn btn-primary w-100 mb-3" (click)="goToAboutUs()">Quem Somos</button>

	    <button class="btn btn-primary w-100 mb-3" (click)="goToContact()">Contato</button>
	  
      <button  class="logout btn btn-danger"(click)="logout()" >Logout</button>
    </div>
    
  </div>
  