
<div class="quem-somos-container">
  <h1 class="QuemSomos">Quem Somos</h1>

  <div class="section">
    <img src="imagens/Henry_ford.jpg" alt="Henry ford" class="section-image left">
    <div class="section-content">
      <h2>Nossa História</h2>
      <p>
        Fundada em 1903, a Ford Moto Company nasceu com a visão de criar carros acessíveis para a população em geral, e não apenas para os ricos. Ao longo dos anos, crescemos e nos tornamos referência no setor de automotivo, sempre buscando inovação e excelência em nossos produtos e serviços.
      </p>
      <p>
        Desde o início, nosso compromisso tem sido com a qualidade e a satisfação de nossos clientes. Acreditamos que a paixão pelo que fazemos é o motor que nos impulsiona a superar desafios e a construir um futuro sólido.
      </p>
    </div>
  </div>

  <div class="section reverse">
    <img src="imagens/Modelo T.jpg" alt="Nossa Equipe" class="section-image right">
    <div class="section-content">
      <h2>Nossa Missão</h2>
      <p>
        Nossa missão é impulsionar o progresso humano através da liberdade de movimento, oferecendo soluções inovadoras e de alta qualidade. Buscamos constantemente aprimorar nossos processos e tecnologias para atender às demandas do mercado e superar as expectativas de nossos clientes.
      </p>
      <p>
        Valorizamos a ética, a transparência e o respeito em todas as nossas relações, construindo parcerias duradouras e contribuindo para o desenvolvimento da sociedade.
      </p>
    </div>
  </div>

  <div class="section">
    <img src="imagens/ford.png" alt="Nossa Equipe" class="section-image right">
    <div class="section-content">
      <h2>Nossos Valores</h2>
      <ul>
        <li>Inovação: Buscamos constantemente novas ideias e soluções.</li>
        <li>Qualidade: Comprometimento com a excelência em tudo o que fazemos.</li>
        <li>Integridade: Agimos com ética e transparência.</li>
        <li>Foco no Cliente: Nossos clientes são a nossa prioridade.</li>
        <li>Sustentabilidade: Contribuímos para um futuro melhor.</li>
      </ul>
    </div>
  </div>
</div>
