* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Remove scroll */
  position: relative;
  background-color: #f4f4f4; /* Cor de fundo suave */
}

/* Fundo de imagem */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image img {
  max-width: 100%; /* Ajusta a largura da imagem */
  height: auto;
  object-fit: cover; /* Preenche o espaço mantendo a proporção */
}

/* Overlay para dar profundidade */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.123); /* Sombra preta translúcida */
  z-index: 0;
}

/* Caixa de conteúdo */
.content-container {
    position: absolute;
    top: 40%;
    left: 20%;
    z-index: 1;
    text-align: center;
    width: 60%;
    height: 10%;
}

.message-box {
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco translúcido */
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.message-box p {
  font-size: 18px;
  margin-bottom: 20px;
}
.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1 ;
}